
:root {
  --accent1-color: #a6cbeb;
  --accent2-color: #4c96d7;
  --accent3-color: #3a3a3a;
  --accent4-color: #fff;
  --accent5-color: #bababa;
  --accent6-color: #8d8d8d;
  
  /* change the values below to your chosen font(s) */
  --heading-font: "Nova Square";
  --paragraph-font: "Comic Neue";

  /* these colors below should be chosen from among your palette colors above */
  --headline-color-on-white: var(--accent3-color);

  /* headlines on a white background */
  --headline-color-on-color: var(--accent4-color);

  /* headlines on a colored background */
  --paragraph-color-on-white: var(--accent3-color);

  /* paragraph text on a white background */
  --paragraph-color-on-color: var(--accent4-color);

  /* paragraph text on a colored background */
  --paragraph-background-color: var(--accent3-color);

  /* nav link colors */
  --nav-link-color: var(--accent4-color);
  --nav-background-color: var(--accent6-color);

  --nav-hover-link-color: var(--accent3-color);
  --nav-hover-background-color: var(--accent2-color);
}

/* html & body */
html {
  display: flex;
  min-width: 280px;
  width: 98%;
  align-self: center;
  align-items: center;
  justify-content: center;
}

body {
  /* width: 98%; */
  align-self: center;
  margin: 40px 10px 0 30px;
  font-size: 18px;
  text-align: left;
  background-color: white;
  border: 3px solid var(--accent1-color);
  border-radius: 1em;
  padding: 10px;
  max-width: 1024px;

}

h1, h2, h3, h4 {
  font-family: var(--heading-font);
}

p,
ul,
li,
a {
  font-family: var(--paragraph-font);
  color: var(--paragraph-color);
}

.main-nav {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  justify-content: flex-start;
  list-style-type: none;
  overflow: hidden;
  background-color: var(--nav-background-color);
  padding-inline-start: 0;
}

/* nav within header */
nav {
  width: 100%;
}

footer a {
  margin: 10px;
  font-weight: 400;
  font-size: medium;
  color: var(--paragraph-color-on-color);
}

header nav ul li {
  padding: 0 4px;
  width: auto;
}

header nav ul li a {
  display: block;
  width: 100%;
  color: var(--nav-link-color);
  text-align: center;
  padding: 8px 0;
  text-decoration: none;
  font-size: 14px;
  background:
    linear-gradient(
      90deg,
      transparent,
      var(--nav-hover-link-color),
      transparent
    )
    bottom / var(--d, 0) 3px no-repeat;
  transition: 0.5s;
  margin-left: 0;
}

a:hover {
  color: var(--nav-hover-link-color);
}

nav a:hover {
  background-color: var(--nav-hover-background-color);
  color: var(--nav-hover-link-color);
  margin-left: 0;
  width: 115%;
}

.active {
  color: var(--accent3-color);
}

.current-menu {
  background-color: var(--nav-hover-background-color);
  color: var(--nav-hover-link-color);
  margin-left: 0;
}

footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin-top: 1em;
  justify-content: space-between;
}

footer hr {
  width: 90%;
  height: 10px;
  background-color: var(--accent3-color);
}

.flex-space-between {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}

.fixed-location {
  position: absolute;
  top: 100px;
  left: 12px;
  color: #4c96d7;
  line-height: 0.5em;
  font-weight: bolder;
}

.fixed-location p {
  color: #1F588E;
}

main.home {
  display: grid;
  position: relative;
  grid-template-columns: 1fr;
}

.contrast-heading.home {
  display: flex;
  width: 150px;
  height: 40px;
  background-color: #4c96d7;
  border: 2px solid #3a3a3a;
  align-items: center;
  justify-content: center;
  margin: 30px auto;
}

.contrast-heading.home a {
  text-decoration: none;
}

img.hero-img
{
  margin-top: 50px;
  width: auto;
  height: 300px;
}

@supports (object-fit: cover) {
  img.hero-img {
    width: 100%;
    object-fit: cover;
    /* object-position: 0% 30%; */
  }
}

.home.bulleted-list li {
  line-height: 150%;
}

.home.twobytwo-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1 fr 1fr;
  align-items: center;
  justify-content: center;
}

.home.grid-element {
  display: block;
  align-items: center;
  justify-content: center;
  border: 5px solid var(--accent4-color);
}

.color-box {
  display: flex;
  background-color: var(--accent2-color);
  height: 90px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

a.part-title {
  display: block;
  margin: 0;
  text-align: center;
  text-decoration: underline;
}