@media only screen and (min-width: 600px) {

    header nav ul li a {
        font-size: 20px;
    }
      
    img.hero-img {
        margin-top: 50px auto;
        width: auto;
        height: auto;
    }
    
    @supports (object-fit: cover) {
      img.hero-img {
        width: 100%;
        object-fit: cover;
        /* object-position: 0% 30%; */
      }
    }
  }